.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.HomeContainer{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    background-color: blueviolet;

}
.Button{
    font-size: x-large;
}

.Options{
    text-align: center;
    display: flex;
    /* justify-content: center;  */
    color: black;
    margin: 15px 0px 15px 15px;
    padding: 5px;
    text-decoration: none;

    
}

.Icon{
    margin-right: 10px;
    height: 1em;
    
}
.Icon svg{
    width: 100%;
    height: 100%;
}
.Home{
    
}
.Textlogo span{
    font-weight: 600;
    color: #001233;
    font-family: serif;
    font-style: italic;
}
.Textlogo{
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 540;
    font-style: normal;
}
.MainScreen{
    background-color: rgb(79, 99, 209);
    overflow-y: auto;
}