
# dependencies
/node_modules
/frontend/mingo/node_modules
/frontend/mingo/.pnp
/frontend/mingo/.pnp.js

# testing
/frontend/mingo/coverage

# production
/frontend/mingo/build

# misc
/backend/config/config.env
/frontend/mingo/.DS_Store
/frontend/mingo/.env.local
/frontend/mingo/.env.development.local
/frontend/mingo/.env.test.local
/frontend/mingo/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*