
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.HomeContainer{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    background-color: blueviolet;

}
.Button{
    font-size: x-large;
}

.Options{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: black;
    
}
.Home{
    height: fit-content;
}
.Textlogo span{
    font-weight: 800;
    color: #001233;
}
.Textlogo{
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.MainScreen{
    background-color: brown;
    overflow-y: auto;
}